html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

:root{
    --padding-form-overwrite: 0.5rem;
    --max-width-input-overwrite: 50%;
}

/* Add new todo page */
body{
    padding: 1rem;
}

h1{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
}

/* PopUp 'add new todo' */
.modal-content{
    padding: 1rem;
}

.modal-body{
    display: flex;
    justify-content: space-around;
    line-height: 2.5rem;
}

/* Add new toDo Form */
form{
    min-width: 100%;
}

.description{
    display: flex;
    justify-content: space-between;
    padding: var(--padding-form-overwrite);
    /* border: 1px solid green; */
}

.priority{
    display: flex;
    justify-content: space-between;
    padding: var(--padding-form-overwrite);
    /* border: 1px solid blue; */
}

.datepicker{
    display: flex;
    justify-content: space-between;
    /* max-width: var(--max-width-input-overwrite); */
    /* border: 1px solid pink; */
}

.form-control{
    display: flex;
    justify-content: end;
    max-width: var(--max-width-input-overwrite);
    border-radius: 10px;
    /* border: 1px solid black; */
}

.modal-footer{
    display: flex;
    justify-content: center;
}

/* Style To Do Sections */

 .todos {
    display: flex;
    flex-direction: column;
    margin-top: 20px;;
}

h3{
    color: black;
    text-align: center;
}

.dateelement {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 5px;
    width: 15%
}

.todoelement {
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: 5px;
    width: 70%;
}

.todobuttons {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 15%
}

.todobuttons > buttons {
    margin: 5px;
    width: 80px;
}

#complete {
    margin-bottom: 5px;
}

/* Urgent Task Styles */

#urgentsection {
    display: flex;
    flex-direction: column;
    background-color: #b3b3b3;
    min-width: 80%;
    border-radius: 10px;
}

.urgent {
    display: inline-block;
    margin: 20px;
    border-radius: 10px;
}

.urgentitem {
    display: flex;
    align-content: space-between;
    font-weight: bold;
    background-color: seashell;
    border: 1px solid red;
    border-radius: 10px;
    margin-top: 5px;
}

/* Important Task Styles */

#importantsection {
    display: flex;
    flex-direction: column;
    background-color: #cccccc;
    min-width: 80%;
    border-radius: 10px;
    margin-top: 10px;;
}

.important {
    display: inline-block;
    margin: 20px;
    border-radius: 10px;
}

.importantitem {
    display: flex;
    align-content: space-between;
    font-weight: bold;
    background-color: seashell;
    border: 1px solid yellow;
    border-radius: 10px;
    margin-top: 5px;
}

/* Nice-To-Have Task Styles */

#nicetohavesection {
    display: flex;
    flex-direction: column;
    background-color: #e6e6e6;
    min-width: 80%;
    border-radius: 10px;
    margin-top: 10px;;
}

.nicetohave {
    display: inline-block;
    margin: 20px;
    border-radius: 10px;
    
}

.nicetohaveitem {
    display: flex;
    align-content: space-between;
    font-weight: bold;
    background-color: seashell;
    border: 1px solid green;
    border-radius: 10px;
    margin-top: 5px;
}